@mixin case-study-style ( $primary-color:$black, $secondary-color:$yellow ) {
  background-color: $secondary-color;

  .case-study__info {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  h2, h3, p {
    color: $white;
  }

  p.lead {
    font-size: 1.5em;
  }
}