<style>
  {% assign header-background-rgb = current.meta.header-background-rgb | fallback: '18, 187, 246' %}
  {% assign header-image-url = current.meta.header-image-url | fallback: '' %}
  {% assign primary-color = current.meta.primary-color | fallback: '#EB5252' %}
  {% assign secondary-color = current.meta.secondary-color | fallback: '#243E69' %}
  {% assign knockout-color = current.meta.secondary-color | fallback: '#EB5252' %}

  {% comment %}{% if current.home? or primary-color == "#fff" %}
  header h1#logo {
    background-image: url("/assets/whitney_logo_square_blue.png");
  }
  {% else %}
  header h1#logo {
    background-image: url("/assets/whitney_logo_square.png");
  }
  {% endif %}{% endcomment %}

  {% if current.home? == false and primary-color != "#fff" %}
  .hero-image {
    background-image: url("{{ header-image-url }}");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero-image .hero-image--overlay {
    background-color: rgba({{ header-background-rgb }}, 0.9);
  }

  .hero-image h1, .hero-image p {
    color: #fff;
  }

  {% endif %}
</style>