@import "brand-colors";
@import "flat-ui-colors";

// bill-bryant-for-washington
$black: #2e2a2a;
$gray: #8B8B8B;
$light-gray: #C5C5C5;
$clouds: #E9E9E9;
$white: #fff;
$bright-white: $white;
$red: #D8262C;

// Social Media

$button-contents: $white;
$facebook: $bc-facebook;
$linkedin: $bc-linkedin;
$twitter: $bc-twitter;
$googleplus: $bc-google-plus;
$youtube: $bc-youtube;
$pinterest: $bc-pinterest;
$github: $bc-github;
$email: $red;