@import "brand-colors";
@import "flat-ui-colors";

// custom colors
$black: #2e2a2a;
$gray: #B5BECD;
$light-gray: #D0D6DF;
$clouds: #E9E9E9;
$white: #fff;
$bright-white: $white;
$red: #EB5252;

$dark-blue: #243E69;
$light-blue: #12BBF6;

// Social Media

$button-contents: $white;
$facebook: $bc-facebook;
$linkedin: $bc-linkedin;
$twitter: $bc-twitter;
$googleplus: $bc-google-plus;
$youtube: $bc-youtube;
$pinterest: $bc-pinterest;
$github: $bc-github;
$email: $red;