@import "brand-colors";
@import "flat-ui-colors";

// bill-bryant-for-washington
$black: #212124;
$dark-blue: #1F212C;
$light-gray: #E8E8E8;
$white: #F5F5F5;
$yellow: #ECB700;

// Social Media

$button-contents: $white;
$facebook: $bc-facebook;
$linkedin: $bc-linkedin;
$twitter: $bc-twitter;
$googleplus: $bc-google-plus;
$youtube: $bc-youtube;
$pinterest: $bc-pinterest;
$github: $bc-github;
$email: $yellow;