@import "foundation/components/buttons";

::selection {
  background: $light-gray; /* WebKit/Blink Browsers */
  color: $body-font-color;
}
::-moz-selection {
  background: $light-gray; /* Gecko Browsers */
  color: $body-font-color;
}

@media #{$large-up} {
  .two-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

hr {
  border-color: $clouds;
  border-width: 2px 0 0;
}

section, article, aside {
  padding: 4rem 0;

  &.content-body, &.featured-quote, &.team-bio, &.job-listing {
    h2 {
      @extend .medium-text-center;
    }
    strong>img {
      margin-left: -20%;
      max-width: 140%;
    }
    a {
      color: inherit;
      border-bottom: 4px solid $red;
      @include transition;
      &:hover {
        color: $red;
        border-bottom: 4px solid transparent;
      }
    }
  }

  &.job-listing {
    padding-top: 0;
  }
}

.hero-image {
  @extend .medium-text-center;
  padding: 0;

  .hero-image--overlay {
    padding: 6rem 0;
    @media #{$medium-up} {
      padding: 8rem 0 6rem 0;
    }
  }

  .label {
    font-size: 0.8rem;
    text-transform: capitalize;
    @include transition;
  }

  h1 {
    font-weight: bold;

    span.underlined {
      text-decoration: underline;
    }
  }
  p {
    font-size: 1.5em;
    color: $gray;
  }

  &.case-study {
    h1, h2, p {
      color: $white;
    }
  }
}

.featured-quote {
  padding: 4rem 0;

  blockquote {
    margin: 0;
    padding: 0;
    border-left: 0;

    p {
      color: $body-font-color;
      font-size: 2em;
      @extend .medium-text-center;
    }
    cite {
      font-size: 1.2em;
      text-align: center;
    }
  }
}

.button {
  font-weight: 400;
  text-transform: uppercase;

  &.hollow {
    @include button-style($bg:transparent, $bg-hover:$white, $border-color:$white);
    border: 2px solid $white;
  }
}

.browser-window {
  @media #{$medium-up} {
    margin-left: -20%;
    width: 140%;
  }

  div.browser--top {
    background: $clouds;
    width: 100%;
    height: 2rem;
    position: relative;
    margin: 0;
    @include border-top-radius(3px);

    .button-icons {
      position: absolute;
      left: 12px;
      top: 11px;

      .mac-button {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        background: $silver;
        margin: 0 4px;
        border-radius: 10000px;
        &.green { background: #28c231; }
        &.yellow { background: #FDB124; }
        &.red { background: #FB4645; }
      }
    }
  }

  img {
    border: 2px solid $clouds;
  }

  div.browser--bottom {
    background: $clouds;
    width: 100%;
    height: 1rem;
    position: relative;
    margin: 0;
    @include border-bottom-radius(3px);
  }
}

blockquote, blockquote p {
  color: $body-font-color;
  font-style: italic;
}

// Team Page

.team-bio {
  padding: 2rem 0 0 0;

  &:first-child {
    padding: 0;
  }
}

aside.team-bio--social {
  padding: 0;
}

// Symbolset Social Links

@mixin social-links($color:$red) {
  color: $color !important;
  border-bottom: 0 !important;
  &:hover {
    color: darken($color, 10%) !important;
  }
}

a.ss-twitter {
  @include social-links($bc-twitter);
}
a.ss-facebook {
  @include social-links($bc-facebook);
}
a.ss-mail {
  @include social-links($red);
}
a.ss-contacts {
  @include social-links($black);
}