main {
  footer#site-footer {
    background-color: $dark-blue;
    color: $white;

    padding: 2rem 0;

    h1#logo {
      z-index: 3;
      background-image: url("/assets/whitney_logo_square.png");
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999px;
      margin-bottom: 0;
    }
    a {
      color: $white;
      &:hover {
        color: $clouds;
      }
    }
  }
}