@import "../mixins/case_studies";

section {
  padding: 6rem 0;
}

.case-study {
  h2 {
    // font-size: 1.8em;
  }
  h3 {
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
}

#nationbuilder {
  background-color: $black;
  color: $white;

  h2, h3, p {
    color: $white;
  }
}

#about-us {
  background-color: $white;
}

.case-study {
  .case-study__info {
    @extend .panel;

    border-color: $white;
    background-color: $white;
  }

  .case-study-image {
    // @include img-shadow;

    div.browser--top {
      background: $clouds;
      width: 100%;
      height: 2rem;
      position: relative;
      margin: 0;
      @include border-top-radius(3px);

      .button-icons {
        position: absolute;
        left: 12px;
        top: 11px;

        .mac-button {
          display: block;
          float: left;
          width: 10px;
          height: 10px;
          background: $silver;
          margin: 0 4px;
          border-radius: 10000px;
          &.green { background: #28c231; }
          &.yellow { background: #FDB124; }
          &.red { background: #FB4645; }
        }
      }
    }

    img {
      border: 2px solid $clouds;
    }

    div.browser--bottom {
      background: $clouds;
      width: 100%;
      height: 1rem;
      position: relative;
      margin: 0;
      @include border-bottom-radius(3px);
    }
  }

  // Per Project Case Study Color Schemes

  &.case-study__bill-bryant-for-governor {
    @include case-study-style(#356e9c, #A0C870)
  }

  &.case-study__florida-gop {
    @include case-study-style(#CC282C, #1F7EE3)
  }

  &.case-study__rick-santorum-for-president {
    @include case-study-style(#E5053A, #16284C)
  }
}