// colors

$color-1: $black; // Ebony Clay
$color-2: $light-gray; // Pewter
$color-3: $white; // White

// fonts

$primary-font: $font-family-sans-serif;
$secondary-font: $font-family-sans-serif;

// animation

$animation-duration: 0.7s;