<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
  <main>
    {{ content }}

    <footer id="site-footer">
      <div class="row">
        <div class="medium-6 columns">
          Site Logo
        </div>
        <div class="medium-6 columns">
          Footer links
        </div>
      </div>
    </footer>
  </main>
  {% include "includes/main-navigation" %}
  {% include "includes/footer-javascript" %}
</body>
</html>