{% assign section = url | remove_first:'/' | split:'/' | first %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if current.slug == "home" %}BEAG - Helping conservative campaigns & causes build, engage, and activate grassroots communities.{% else %}{{ site.title }} | {{ title }}{% endif %}</title>
  <link rel="stylesheet" href="/css/app.css" />
  <link href="//cdn.symbolset.com/c4452b8c456afee826875e3cf5304fd4fc15a17c/symbolset.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6857554/7919152/css/fonts.css" />

  {% include "includes/favicons" %}

  {% include "includes/custom-color" %}
</head>
<body>
  <main id="{{ current.slug }}">
    {% unless current.slug == "home" %}
      {% include "includes/hero-image" %}
    {% endunless %}
    {{ content }}
    <footer id="site-footer">
      <div class="row">
        <div class="medium-6 columns">
          <a href="/">
            <h1 id="logo">The Beag Co.</h1>
          </a>
        </div>
        <div class="medium-6 medium-text-right columns">
          <a href="http://nationbuilder.com/beag" target="_blank">Certified <strong>NationBuilder Experts &amp; Architects</strong> since 2013.</a>
        </div>
      </div>
    </footer>
  </main>
  {% include "includes/main-navigation" %}
  {% include "includes/footer-javascript" %}
</body>
</html>